/***********************************************************************************
* HI4KENYA AFYAINFO BOOTCAMP 2015                                                  *
* -------------------------------                                                  *
* GROUP ONE                                                                        *
* MSH SUPPLY CHAIN HIERARCHY PROJECT                                               *
* JUNE 2015                                                                        *
* ----------------------------------                                               *
* KELVIN WAHOME                                                                    *
* Computer Science                                                                 *
* School of Computing and Informatics                                              *
* The University of Nairobi                                                        *
* kevowahome@gmail.com                                                             *
* ---------------------------------------------------------------------------------*
**
**
* ---------------------------------------------------------------------------------*
*/
/*
*This file contains styling for the MSH Supply Chain Hierarchy project			   *
**
* ---------------------------------------------------------------------------------*/
.color
{

}
.unclickedColor
{
  color: #23527C;
  cursor: pointer;
}

.unclickedColor:hover
{
  color: orange;
  cursor: pointer;
}

.clickedColor
{
  color: orange;
  cursor: pointer;
}

.facilitiestext
{
	color:#23527C;
}

.facilitiestext:hover
{
	color:orange;
	cursor: pointer;s
}